
/* global */

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  text-align: center;
  font-family: sans-serif;
}

section {
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

/* Utility */

em {
  font-style: italic;
}

/* header */

header .avatar {
  max-height: 100px;
  max-width: 100px;
  margin-top: 0.5rem;
  border-radius: 1000px;
}

.main_title {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 900;
}

.main_subtitle {
  color: hsl(0, 0%, 28%);
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/* social links */

.social-links a {
  text-decoration: none;
  display: inline-block;
  margin: 0.5rem 0.33rem;
}

.social-links__user {
  font-size: 1.2em;
}

.social-links__user:hover {
  text-decoration: underline;
}

.social-links__site {
  color: black;
}

/* my sites */

.my-sites .site {
  margin: 0.75rem;
}

.my-sites a {
  text-decoration: none;
  font-size: 1.2em;
}

.my-sites a:hover {
  text-decoration: underline;
}

.my-sites .favicon__site {
  max-width: 16px;
  max-height: 16px;
}